

body{
  background-color: #181715;
}
.Sidebar{
  color: aliceblue;
  height: 100% ;
  width: 210.08px;
  border-right: 8px ;
  border-right-color: #1E1E1E;
  border-right-style:solid ;
}

.img-icons{
  width: 80px;
  height: 592px;
  margin-left: 60px;
}

.image img {
  width: 50px;
  height: 50px;
  margin-top: 101px;
  border-radius: 50px;
}

td{
  text-align: center;
}

.grid-icon{

  width: 30px;
  height: 30.03px;
  margin-left: 29%;
  margin-top: 20.49px;
}
.explore-icon{
  width: 30.46px;
  height: 30.46px;
  margin-left: 29%;
  margin-top: 20.49px; 
}

.bookmark-icon{
  width: 30.46px;
  height: 30.46px;
  margin-left: 29%;
  margin-top: 20.49px; 
}

.notification-icon{
  width: 30.46px;
  height: 30.46px;
  margin-left: 29%;
  margin-top: 20.49px; 
}

.play-icon{
  width: 30.46px;
  height: 30.46px;
  margin-left: 29%;
  margin-top: 20.49px; 
}

.setting-icon{
  width: 30.46px;
  height: 30.46px;
  margin-left: 29%;
  margin-top: 20.49px; 
}

.friends{
  width: 65px;
  height: 213px;
  border-radius: 20px;
  border: 2px solid #A6A6A636;
  padding: 10px ;
  margin-left: 29%;
  margin-top: -100px ;

}

.friends img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 20px;

}

.add-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.toggle-exit{
  margin-top: 45px ;
  text-align: start;
  margin-left: 10px ;
}

.toggle{
  display: inline-block;
  width: 44px;
  height: 22px ;
}

.exit{
  display: inline-block;
  width: 33px;
  height: 22px ;
  margin-left: 64px ;
}